body {
    background-color: #927fb1; /* Fundo roxo */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
    margin: 20px;
}

h1 {
    color: white;
}

#gameCanvas {
    background-color: #e2c0ad; /* Fundo da grade */
    border: 5px solid #000;
    margin-bottom: 15px;
    cursor: crosshair;
}

.controls, .game-info {
    width: 600px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.controls button, .controls select, .controls label {
    font-size: 16px;
    padding: 8px 15px;
    margin: 5px 2px;
    cursor: pointer;
}

hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px 0;
}

#arrowCount {
    font-weight: bold;
    color: yellow;
    font-size: 1.2em;
}

#startBtn {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
}

#resetBtn {
    background-color: #f44336; /* Vermelho */
    color: white;
    border: none;
    border-radius: 5px;
}